<br/>

<section>
  <div class="title">
    <h2>Bank Search Application</h2>
  </div>


  <mat-card>
    <mat-card-title>

      <!--Drop down to choose the city-->
      <mat-form-field>
        <mat-label>Choose a city</mat-label>
        <mat-select [(ngModel)]="selectedCity" (selectionChange)="eventSelection($event.value)">
          <mat-option *ngFor="let city of city" [value]="city.value">
            {{city.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>
      List of Banks in <b>{{selectedCity}}</b>
    </mat-card-subtitle>
    <mat-card-content>
      <br/>
      <div class="mat-elevation-z8">

        <!--To show the filter-->
        <mat-form-field class="mr-5 filterTextField">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <!--To show the data in the table-->
        <table mat-table [dataSource]="dataSource">
          <!-- Action column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>

            <td mat-cell *matCellDef="let data" style="cursor:pointer">
              <i [hidden]="data.favourite" class="material-icons">
                favorite_border
              </i>
              <i [hidden]="!(data.favourite)" class="material-icons">
                  favorite
                </i> </td>
          </ng-container>

          <!-- Bank name Column -->
          <ng-container matColumnDef="bank_name">
            <th mat-header-cell *matHeaderCellDef> BANK NAME </th>
            <td mat-cell *matCellDef="let bankObj"> {{bankObj.bank_name}} </td>
          </ng-container>

          <!-- IFSC code Column -->
          <ng-container matColumnDef="ifsc">
            <th mat-header-cell *matHeaderCellDef> IFSC </th>
            <td mat-cell *matCellDef="let bankObj"> {{bankObj.ifsc}} </td>
          </ng-container>

          <!-- Bank Id  Column -->
          <ng-container matColumnDef="bank_id">
            <th mat-header-cell *matHeaderCellDef> BANK ID </th>
            <td mat-cell *matCellDef="let bankObj"> {{bankObj.bank_id}} </td>
          </ng-container>

          <!-- Branch  Column -->
          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef> BRANCH </th>
            <td mat-cell *matCellDef="let bankObj"> {{bankObj.branch}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRowData(row)"></tr>
        </table>

        <!--To show paginator-->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
<router-outlet></router-outlet>
